<html>
    <head>
        <meta charset="utf-8" />
        <title>Market Place</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="app"></script>
        <script src="productCtl"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Market Place</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="categories">Categories <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="products">Products</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>

        <div class="container margin-top-content" ng-app="market-place" ng-controller="ProductCtl">
                
                <table width="100%">
                    <tr>
                        <td><h1>{{title}}</h1></td>
                        <td align="center">
                            <a class="btn btn-primary" href="products/new" role="button"><span class="fa fa-plus" aria-hidden="true"></span></a>                            
                        </td>
                    </tr>
                </table>
                <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="product in listProducts">
                    <th scope="row">{{product.id}}</th>
                    <td>{{product.code}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>
                        <a class="btn btn-primary" href="products/update/{{product.id}}" role="button"><span class="fa fa-edit" aria-hidden="true"></span></a>                            
                        <button type="button" ng-click="delete(product);" class="btn btn-danger"><span class="fa fa-remove" aria-hidden="true"></span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </body>
</html>